<h1>スケジュール編集</h1>

<%= form_with(model: @schedule, url: admin_schedule_path(@schedule), method: :put) do |form| %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to "削除", admin_schedule_path(@schedule), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
<%= link_to "戻る", admin_schedules_path, class: "btn btn-secondary" %>
